.label {
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
}

.label:hover, .label:focus {
    background-color: var(--primary50);
}

.input {
    display: none;
}